/* Tipografía para texto cuerpo */
@font-face {
    font-family :  "Shippori Antique" ;
    src :  url ( "https://fonts.google.com/specimen/Shippori+Antique?category=Serif,Sans+Serif#standard-styles" );
  }
  
  /* Tipografia para titulos */
  @font-face {
      font-family:  "Prata" ;
      src :  url ( "https://fonts.google.com/specimen/Prata?preview.text_type=custom&query=pra" );
    }
  
  /* Tipografia para otros, o para algun texto especial */
  @font-face {
      font-family:  "Presione Start 2P" ;
      src :  url ( "https://fonts.google.com/specimen/Press+Start+2P?preview.text_type=custom&query=Press+Start+2P" );
    }
h1{
    color: #52734D;
    text-align: center;
    font-family: "Prata";
    font-size: 55px;
    margin-top: 50px;
    src: url("Prata");
}
body{
    background-color: #DDFFBC;
}

header{
    color: #52734D;
}

li{
    text-align: left;
}

footer {
    position:absolute;
    position:static;
    left: 10;
    bottom: 20;
    width: 102%;
    background-color: #91C788;
    color: white;
    text-align: center;
  }