* {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

body{
    background-color: white;
    display: grid;
    background-color: white;
}


/*Contenedor Header*/
.encabezado {
    /*background-color: red;*/
    padding-left: 1em;
    padding-top: 0.5em;
}


/*Contenedor Cuerpo*/
.cuerpo{
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

    /*Caja donde apreceràn los botones*/
.contenido{
    margin-top: 4em;
    background-color: #52734D;
    display: grid;
    padding-top: 1em;
    padding-bottom: 1em;

    align-self: center;

    border-radius: 10px;

    box-shadow: 5px 5px 5px  black;

    
}

        /*Bototnes persoalizados*/

.accion {

    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    width: 20em;
    padding: .5em 30em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    margin: 2em 2em;
    border: solid;
    font-size: 1em;
}
.icono {
    font-size: 2.5em;
    color: black;
    margin-left: 20px;
}

.accion:hover {
    background-color: #8deb90; /* Green */
    border-color: rgb(55, 131, 55);
    box-shadow: 5px 5px 5px black;
}