body{

    background-color:#91C788;
    
}
h1{
    font-family: 'Prata', serif;
}
p{
    font-family: 'Shippori Antique', sans-serif;
}
input{
    font-family: 'Shippori Antique', sans-serif;
}
label{
    font-family: 'Shippori Antique', sans-serif;
}